.scroll-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.scroll-button:active, .scroll-down-button:active, .scoll-up-button:active {
    background-color: #b7c6fd;
    transform: translateY(2px);
  }

 
  /* Content styles */
  .scroll-content {
    width: 100%;
    padding: 10px;
  }
  
  /* Custom scrollbar styles (background/behind thumb */
  .custom-scrollbar {
    width: 15px;
    background-color: transparent; /* Set background-color to transparent */
    /* display: inline-block; */
    position: relative;
    background-color: #838fb9;
    transition: background-color 0.2s ease; /* Add a transition for smooth resizing */
  }

  /* Set a fixed height for the scrollbar background */
  .custom-scrollbar::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #99b1ff;
    position: absolute;
    
  }
  
  .custom-scrollbar-thumb {
    background-color: var(--button-background);
    border-color: var(--button-background);
    cursor: pointer;
    left: 1%;
    right: 0;
    width: 100%;
    position: relative; /*was absolute in previous versions*/
  }

/* Scroll buttons styles */
.scroll-button {
    width: 15px;
    height: 15px;
    background-color: var(--button-background);
    border-color: var(--button-background);
    color: #000000;
    font-size: 8px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    left: 0;
    right: 0;
    /* margin-top: 1px;  */

  }
  
  .scroll-up-button {
    padding-left: 1px;
    padding-top: -7px;
    position: absolute;
    margin-top: 1px;
    
  }
  
  .scroll-down-button {
    padding-left: 1px;
    padding-top: -7px;
    position: absolute;
  
  }