/*Container that makes entire page scrollable*/

.main-scroll-container {
  overflow-y: auto;
  /* Enable vertical scrolling when content overflows */
  overflow-x: hidden;
}

/*Custom Text for Headings, Paragraphs, etc*/
h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-style: double;
  /* border-bottom: double 3px; */
  padding-top: 5px;
}

.custom-paragraph {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-align: none;
}

/* Custom Cursor
body {
  cursor: url('images/pcb-cursor.png'), auto !important;
}

a:hover,
button:hover {
  cursor: url('images/pw-hover-cursor.png'), auto !important;
} */

/* Background Design */

html,
body {
  height: 110%;
  /* Ensure the HTML and body elements occupy the full viewport height */
  margin: 0 !important;
  /* Remove default margin */
  padding: 0 !important;
  /* Remove default padding */
  background: linear-gradient(to bottom, #1f0b8d 0%, #190974 15%, #12055b 25%, #0e0446 35%, #080228 55%, #05011C 65%, #05011C 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  overscroll-behavior: none;

}


.clouds-background {
  background-image: url(images/BackgroundClouds/1Cloud.png), url(images/BackgroundClouds/2Cloud.png), url(images/BackgroundClouds/4Cloud.png), url(images/BackgroundClouds/3Cloud.png), url(images/BackgroundClouds/5Cloud.png), url(images/BackgroundClouds/6Cloud.png), url(images/BackgroundClouds/7Cloud.png), url(images/BackgroundClouds/8Cloud.png);
  background-position: bottom 0% left 2%, bottom 45% left 65%, bottom 25% left 30%, bottom 0% right 0%, bottom 95% left 1%, top 15% right 3%, top 5% right 38%, bottom 55% left 5%;
  background-size: 370px 170px, 270px 170px, 300px 150px, 750px 200px, 500px 150px, 200px 100px, 150px 70px, 80px 50px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 10px;
  height: max-content;
}

/*Container for Fixed Content on jsprojects*/

.fixed-container {
  position: fixed;
}

/*Dropdown Menu Styles (will be put elsewhere eventually, only here while testing*/
.menuBar {
  box-shadow: 0 0px 0px rgba(18, 5, 91, 0.8);
  border-top: 1px solid #300ef1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 40px;
  height: 20px;
  font-size: 12px;
  padding-bottom: 0px;
  padding-left: 3px;
  font-family: Arial, sans-serif;
  background-color: #3060ff;
  border-color: var(--button-background);
  color: #000000;
  cursor: pointer;

}

.dropdown-button:hover {
  background-color: #3060ff;
  border-left: inset 2px rgba(28, 81, 255, 0.5);
  border-top: inset 2px rgba(28, 81, 255, 0.5);
  border-right: inset 2px rgba(161, 168, 236, 0.5);
  border-bottom: inset 2px rgba(161, 168, 236, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3060ff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  transition: color 0.2s;
  background-color: #3060ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button,
.dropdown-content a:hover {
  background-color: #12055b;
  border-left: inset 2px rgba(0, 0, 0, 0.5);
  border-top: inset 2px rgba(0, 0, 0, 0.5);
  border-right: inset 2px rgba(31, 11, 141, 0.5);
  border-bottom: inset 2px rgba(31, 11, 141, 0.5);
  color: #ffffff;
  cursor: pointer;
}


/* Canvas Styles */
canvas {
  border: 2px solid #12055b;
  /* Blue border with a width of 2 pixels */
  background-color: #F0F0F0;
  /* Light gray background color */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.8);
  /* Retro shadow effect */
  border-radius: 0px;
  /* Rounded corners */
}

/* '98 Window Design for pawNG*/
:root {
  --button-background: #b7c6fd;
  --button-border: #91abff;
}

/*'98 Buttons*/

.okButton {
  width: 50px;
  height: 20px;
  font-size: 12px;
  padding-bottom: 0px;
  font-family: sans-serif;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--button-background);
  border: 2px outset var(--button-border);
}

.xButton {
  width: 15px;
  height: 15px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-left: 2px;
  font-size: 12px;
  font-family: sans-serif;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--button-background);
  border-color: var(--button-background);
}

.maxButton {
  width: 15px;
  height: 15px;
  padding-bottom: 3px;
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--button-background);
  border-color: var(--button-background);
}

.minButton {
  width: 15px;
  height: 15px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--button-background);
  border-color: var(--button-background);

}

.okButton:active,
.xButton:active,
maxButton:active,
minButton:active, .scroll-button:active, .scroll-down-button:active, .scoll-up-button:active {
  /* Add pressed effect styles here */
  background-color: #b7c6fd;
  /* Example background color when pressed */
  transform: translateY(2px);
  /* Example downward shift when pressed */
}

/*'98 Window Design*/

.topBar {
  background: linear-gradient(to right, rgb(8, 2, 40), rgb(41, 12, 205));
  box-shadow: 0 0px 0px rgba(18, 5, 91, 0.8);
  border: 1px solid #300ef1;
}

.leftBarText {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-left: 5px;
  color: rgb(255, 255, 255)
}

.oldWindow {
  border: 2px solid #300ef1;
  box-shadow: 0 0px 0px rgba(18, 5, 91, 0.8);
}

.navWindow {
  border: 2px outset #5d82fc;
  border-radius: 0px;
  box-shadow: 7px 7px 7px rgba(5, 1, 28, 0.5);
  background-color: #3060ff;

}

.custom-windowSubtitle {
  font-size: 12px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.custom-windowTitle {
  font-size: 13px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 5px;
  padding-top: 0px;
}

.window-bodyText {
  font-size: 12px;
  font-family: sans-serif;
  color: rgba(6, 1, 33, 0.848);
  text-align: center;
  padding-left: 5px;
  padding-top: 3px;
}

/*This is the white box that the main text appears in.*/
.text-card {
  background-color: #abbdff;
  font-size: 13px;
  font-family: sans-serif;
  border: 2px inset #5d82fc;

}

/*This is for the text in the white box*/
.window-welcomeText {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(6, 1, 33, 0.848);
  text-align: left;
  padding-left: 5px;
  padding-top: 3px;
}

/*Selectors for large textbox*/

.large-box-body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.large-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  display: flex; /* Use flexbox to control alignment */
  justify-content: flex-start;
}

.nav-container {
  width: 20rem;
  padding: 1rem;
  margin-right: 1rem;
}

.large-box-container {
  width: 40rem;
  padding: 1rem;
  margin-left: 3rem; /* Make room for nav container */
  overflow-y: scroll;
}

/*Scrollbars*/

/*Target the container with the scrollbar*/

.scroll-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

/* Content styles */
.scroll-content {
  width: 100%;
  height: auto;
  padding: 10px;
  overflow: hidden;
  position: absolute;
}

/* Custom scrollbar styles (background/behind thumb */

.custom-scrollbar {
  width: 15px;
  background-color: transparent; /* Set background-color to transparent */
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Set a fixed height of 100% */
  transition: background-color 0.2s ease; /* Add a transition for smooth resizing */
}

/* Set a fixed height for the scrollbar background */
.custom-scrollbar::before {
  content: "";
  height: 150%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #99b1ff; /* Match the background color */

  transition: background-color 0.2s ease; /* Add a transition for smooth resizing */
}

.custom-scrollbar-thumb {
  background-color: var(--button-background);
  border-color: var(--button-background);
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 200px; /* Minimum height for the thumb */
}

/* Scroll buttons styles */
.scroll-button {
  width: 15px;
  height: 15px;
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: #000000;
  font-size: 8px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
}

.scroll-up-button {
  top: 12.95%;
  left: 92.8%;
  padding-left: 1px;
  padding-top: -7px;
  
}

.scroll-down-button {
  bottom: 1.4%;
  left: 92.8%;
  padding-left: 1px;
  padding-bottom: -7px;

}

/*Pop Up Styles*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Styles for the pop-up content */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border: 2px outset #5d82fc;
  border-radius: 0px;
  box-shadow: 7px 7px 7px rgba(5, 1, 28, 0.5);
  background-color: #3060ff;
}

/* Style for the close button (×) */
.close {
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-family: sans-serif;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--button-background);
  border-color: var(--button-background);
  /* cursor: url('images/pw-hover-cursor.png'), auto; */
}