h1 {
    color: rgb(190, 28, 185);
}

.custom-paragraph {
  font-size: 12px !important; 
}

body {
  cursor: url('images/pcb-cursor.png'), auto !important;
}

a:hover , button:hover {
  cursor: url('images/pw-hover-cursor.png'), auto !important;
}

/* Apply styles to the canvas element */
canvas {
  border: 6px solid #0074D9; /* Blue border with a width of 2 pixels */
  background-color: #F0F0F0; /* Light gray background color */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.8); /* Retro shadow effect */
  border-radius: 0px; /* Rounded corners */
}

.cornerButton {
  width: 15px;
  height: 15px;
  padding-bottom: 5px;
}

.topBar {
  background-color:rgb(190, 28, 185)
}

.oldWindow {
  border: 1.5px solid rgb(155, 155, 155)
}